BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 120

SortIncludes: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty

BreakBeforeBraces: Attach
PointerAlignment: Right